.hiringhero {
    background-image: url("team2.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

.overlay {
 background: rgba(8, 8, 8, 0.595);
 overflow: hidden;
 height: 100%;
 width: 100%;
}

.join {
font-size: 100px;
  text-align: center;
  color: white;
  font-weight: 800;
  font-family: 'Rokkitt', serif;
  text-shadow: 4px 2px 2px #000000;


}

.mission {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Rokkitt', serif;
    font-size: 18px;
}

.light{
    padding: 0.8em 0em;
    width:350px !important;
    background: #ff6e00;
    border-radius:15px;
    border:0;
    color:#fff;
    font-size:1.2em;
    font-family: 'Rokkitt', serif;
    font-weight:bold;
    cursor:pointer;
    margin:1em 2em;
    text-transform:uppercase;
    align-items: center !important;
    justify-content: center!important;
    text-align: center;
    
    
}
.light{
background: -moz-linear-gradient(-45deg,  #ff6e00 0%, #ff6e00 40%, #ffffff 50%, #ff6e00 60%, #ff6e00 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(40%,#ff6e00), color-stop(50%,#ffffff), color-stop(60%,#ff6e00), color-stop(100%,#ff6e00));
background: -webkit-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -o-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -ms-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: linear-gradient(135deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff6e00',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
animation:light 1s;
-webkit-animation:light 1s;

}

@keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}
    
@-webkit-keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}



.share{
    position: sticky;
    top:87%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 100px;
    height: 100px;
    
  }
  .share ul{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .share ul li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    background: #027f51;
    transition: .5s;
    overflow: hidden;
    transform: scale(0.95);
    border-radius: 10px;
  }
  .share ul li a{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: #ffffff;
    transition: .5s;
  }
  .share ul li a .fab{
    transform: rotate(45deg);
  }
  .share ul li a:hover{
    color: #fff;
    background: #406b86;
    transform: rotate(0deg);
  }
  .share ul.active li{
    transform: scale(0.95);
  }
  .share ul.active li:nth-child(1){
    top: -100%;
    left: -100%;
    transition-delay: 0s;
  }
  .share ul.active li:nth-child(2){
    top: -100%;
    left: 0%; 
    transition-delay: 0.2s;
  }
  .share ul.active li:nth-child(3){
    top: -100%;
    left: 100%;
    transition-delay: 0.4s;
  }
  .share ul.active li:nth-child(4){
    top: 0%;
    left: 100%;
    transition-delay: 0.6s;
  }
  .share ul.active li:nth-child(5){
    top: 100%;
    left: 100%;
    transition-delay: 0.8s;
  }
  .share ul.active li:nth-child(6){
    top: 100%;
    left: 0%;
    transition-delay: 1s;
  }
  .share ul.active li:nth-child(7){
    top: 100%;
    left: -100%;
    transition-delay: 1.2s;
  }
  .share ul.active li:nth-child(8){
    top: 0%;
    left: -100%;
    transition-delay: 1.4s;
  }
  .toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff6e00;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
  }
  .toggle:before{
    content: '\f1e0';
    font-family: fontAwesome;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size:40px;
    transform: rotate(-45deg);
  }
  .toggle.active:before{
    content: '\f00d';
    font-family: fontAwesome;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size:60px;
  }

  .why {
      text-align: center;
      font-family: 'Rokkitt', serif;
      font-size: 60px;
      
  }

  .quote {
      text-align: center;
      font-family: 'Rokkitt', serif;

  }
    
  .flex-row-container {
    background: rgb(253, 252, 252);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    
}
.flex-row-container > .flex-row-item {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 100%;
}

.flex-row-item {
  background-color: #ffffff;
  border: none;
}

.competitive {
    font-family: 'Rokkitt', serif;
    text-decoration: underline;
    /* animation-duration: 3s;
    animation: zoom-in-zoom-out 3s ease-out; */
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.workhere {
    font-size: 15px;
    font-family: 'Rokkitt', serif;
    
  
  }

.youtubevideo {
    background-color: #027f51;
    
    

    width: 100%;
    top: 30%;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* .wrapper {
    position:relative;
    z-index: 1;
    display: inline-block;
} */

.openpositions {
    background: 
    linear-gradient(to bottom right, #ff0000 50%, transparent 50.5%) no-repeat bottom,
    /* bottom part */
    linear-gradient(0deg, #027f51, #027f51) no-repeat top;
  /* top portion */
  color: rgb(59, 59, 59);
  padding-bottom: 3em;
  background-size: 100% 7em, 100% calc(100% - 7em)
  

}

.maininformation {
  
    /* -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.laurenphoto {
    box-shadow: -14px 12px 5px 0px rgba(0,0,0,0.31);
-webkit-box-shadow: -14px 12px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: -14px 12px 5px 0px rgba(0,0,0,0.31);

}

.laurenquote {
    font-size: 20px;
    font-family: 'Rokkitt', serif;
    
}

.attribute {
    font-weight: bolder;
}

.we {
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

.listheading {
    font-family: 'Rokkitt', serif;
    font-size: 25px;
}

ul {
    text-align: left !important;
    list-style-position: inside;
    

}

.currentopenings {
  text-align: center;
  height: 100%;
  margin-bottom: -40px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  
  
}





.misson2 {
  text-align: center;
    
    font-family: 'Rokkitt', serif;
    font-size: 18px;
}

@media (max-width: 575.98px) {
.currentopenings {
  display: none;
}

/* .share {
  display: none;
} */

.light {
  width: 50%;
}

.competitive {
  animation: none;
  

  
}
.flex-row-container {
  display: block;
  
 
  
}

.workhere {
  width: 75%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.statement {
  display: inline-block;
  text-align: center;
  
}
}


@media (max-width: 3000px) {
  .hiringhero {
    height: 800px;
  }
}


.fa-money-bill {
  font-size: 80px !important;
    animation-name: spin-in;
    animation-duration: 2s;
  
}

.fa-chart-line {
  font-size: 80px !important;
  animation-name: spin-in;
    animation-duration: 2s;
}

.fa-hospital {
  font-size: 80px !important;
  animation-name: spin-in;
    animation-duration: 2s;
}

.laurenphoto {
  border-radius: 50%;
}

@keyframes spin-in {
	0% {
		transform: scale(0) rotate(360deg);
	}
	100% {
		transform: scale(1) rotate(-360deg);
	}
}

.currentopenings {
  text-align: center;
  
}

.currentheading {
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;

}


.wrapper{
  max-width: 100%;
  padding: 0 20px;
  font-family: 'Rokkitt', serif;
}
.wrapper .parent-tab,
.wrapper .child-tab{
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label{
  background: #027f51;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover{
  background: #027f51;
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label{
  border-radius: 3px 3px 0 0;
  background: #ff6e00
}
.wrapper label span{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #027f51;
}
.wrapper .child-tab label span{
  font-size: 17px;
}
.parent-tab label .icon{
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #ff6e00;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #ff6e00
}
.wrapper .child-tab label .icon{
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before{
  content: '\f068';
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}
.tab-3 input:checked ~ .content{
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p{
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p{
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
