footer {
  background: #406b87 !important;
  color: #eee;
  font-size: 11px;
  padding: 20px;
  margin-top: 40px;
}

.fa {
  padding: 0px;
  font-size: 12px;
  width: 50px;
  text-align: left;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.footer-social {
  background: none !important;
}

.btn-subscribe {
  color: #fff;
  background-color: #6a6b6b !important;
  border-color: #ccc;
}

footer .form-control {
  background-color: #3a3939 !important;
  color: rgb(10, 10, 10) !important;
}

.social-icons-container {
  margin-top: 8px;
  margin-bottom: 15px;
}

@media screen and (max-width: 280px) {
  .footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background: lightgray !important ;
  }
  .footer {
    display: flex;
    align-items: center;
  }
  .footer {
    margin-left: 10px;
  }
  .social-icons-container {
    float: left !important;

  }
}

.fb-page {
  border-style: solid;
  border-color: #548701;
}

.twitter-timeline {
  border-style: solid !important;
  border-color: #548701 !important;


}

/* /* @media screen and (max-width: 1000px) {
  .fb-page {
  display: block;
  width: 100px;
 
  }
} */

@media screen and (max-width: 1000px) {
  .fb-page {
  display: none !important;
  
  }
} 

@media screen and (max-width: 1000px) {
  .twitter-timeline {
  display: none !important;
  
  }
} 
/* @media (max-width: 767px) {
  

  .fb-page .twitter-timeline {
    flex-direction: column;
    width: 10%; */

    /* .container {
      position: relative;
      width: 30%;
      float: left;
      margin-top: 10px;
    } */
    
    .image2 {
      display: inline-block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: -0;
      transition: .5s ease-in;
      background-color: #fed51c;
    }
    
    .container:hover .overlay {
      opacity: 100%;
      font-family: 'Archer 8r', 'Archer A', 'Archer B';
    }
    
    .text {
      color: white;
      font-weight: 800;
      font-size: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .text {
    font-size: 15px;
  }
}


/* Intersection Observer Big Stat Animation */
.big-stat {
  animation: anim1 .7s ease-out;
}
.big-stat {
  animation: anim2 .7s ease-out;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(30rem) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}







a.donate-now-link {
  animation: jump-shaking 1s;
  /* animation-delay: 1.5s; */
}




@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}



/* a.donate-now-link {
  animation: tilt-shaking 3s;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
} */


/* a.donate-now-link {
  animation: vertical-shaking 2s;
}


@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(20px) }
  50% { transform: translateY(-20px) }
  75% { transform: translateY(20px) }
  100% { transform: translateY(0) }
} */